@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #333333;
}

/* Закомител до пк версии
.shadow {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
} */
img {
  display: block;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  background-color: #81B3D2;
  color: #ffffff;
}
.button:hover, .button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
  color: white;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-header__title {
  margin: 0;
  padding: 0;
  min-width: 284px;
  min-height: 80px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 35px;
}

.advantages-header__description {
  margin: 0;
  padding: 0;
  min-width: 284px;
  min-height: 42px;
  text-align: center;
  padding-bottom: 16px;
}

.advantages {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  min-height: 1841px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.advantages__wrapper--1 {
  background-image: url("../img/index/triangle-advantages.svg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 0, center 0;
  min-height: 211px;
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.advantages__list--service {
  padding-bottom: 46px;
}

.advantages__item {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.advantages__item--image {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: #996633;
}
.advantages__item--bridge {
  background-color: #81B3D2;
  color: #ffffff;
  padding: 37px 18px;
}
.advantages__item--grey {
  background-color: #eeeeee;
}

.advantages__list--house {
  background-image: url("../img/index/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__list--food {
  background-image: url("../img/index/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__list--souvenir {
  background-image: url("../img/index/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__title--house {
  padding-top: 31px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 54px;
}
.advantages__title--house, .advantages__title--food, .advantages__title--souvenir {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 65px;
  padding-bottom: 16px;
  text-align: start;
}
.advantages__title--bridge {
  margin: 0;
  padding: 0;
}
.advantages__title--grey {
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.advantages__number {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.advantages__description--house, .advantages__description--food, .advantages__description--souvenir {
  margin: 0;
  padding: 0;
  padding-left: 65px;
  padding-bottom: 2px;
  text-align: start;
}
.advantages__description--bridge {
  margin: 0;
  padding: 0;
}
.advantages__description--grey {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.advantages__list--grey {
  background-color: #eeeeee;
}

.control-label {
  color: #000000;
}

.field {
  margin: 0 auto;
  width: 280px;
  padding: 16px;
  padding-right: 0;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  box-sizing: border-box;
}

.form-email__wrapper {
  display: flex;
  flex-direction: row;
}

.form-email__wrapper .field {
  padding-left: 18px;
  flex-grow: 1;
}

.form-email__img {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.form-phone__wrapper {
  display: flex;
  flex-direction: row;
}

.form-phone__wrapper .field {
  padding-left: 18px;
  flex-grow: 1;
}

.form-phone__img {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.form {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Общие */
.form__form-name,
.form__form-contact,
.form__form-impression,
.form__form-looked,
.form__form-description-of-emotions {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__introduce,
.form__contact,
.form__impression,
.form__looked,
.form__description-of-emotions {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
}

.form__impression {
  color: #000000;
}

/* Представьтесь */
.form__form-name {
  margin-bottom: 64px;
}
.form__form-name--group {
  border: none;
}

/* Контактная информация */
.form__form-contact {
  margin-bottom: 59px;
}
.form__form-contact--phone, .form__form-contact--email {
  border: none;
}

/* Ваше общее впечатлене */
.form__form-impression {
  margin-bottom: 49px;
}

.form__control-circl {
  position: relative;
  display: block;
  padding: 14px 15px 16px 50px;
}

.form__control-mark-circl {
  position: absolute;
  top: 9px;
  left: -12px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__control-mark-circl:last-child {
  margin-bottom: 0;
}

.form__control-input[type=radio]:checked + .form__control-mark-circl::before {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
  background-repeat: no-repeat;
}

.form__control-input:hover + .form__control-mark-circl {
  background-color: #e5e5e5;
}

.form__control-input:active + .form__control-mark-circl {
  background-color: #d5d5d5;
}

/* Посещенные достопримечательности */
.form__form-looked {
  margin-bottom: 49px;
}

.form__control-square {
  position: relative;
  display: block;
  padding: 20px 15px 16px 50px;
}

.form__control-mark-square {
  position: absolute;
  top: 9px;
  left: -12px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.form__control-input[type=checkbox]:checked + .form__control-mark-square::before {
  position: absolute;
  top: 17px;
  left: 12px;
  width: 22px;
  height: 16px;
  content: "";
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
}

.form__control-input:hover + .form__control-mark-square {
  background-color: #e5e5e5;
}

.form__control-input:active + .form__control-mark-square {
  background-color: #d5d5d5;
}

/* Кнопка */
.form__button-wrapper {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-bottom: 46px;
}

.form__button {
  width: 280px;
  height: 58px;
  padding: 16px 33px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 3px;
}

.form__obligatory-field {
  margin-right: 20px;
  color: rgba(51, 51, 51, 0.6);
}

.foto-gallery {
  width: 320px;
}

.foto-gallery__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.foto-gallery__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.foto-gallery__foto-nature {
  padding-bottom: 15px;
}

.foto-gallery__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

.foto-gallery__description {
  margin: 0;
  padding: 0;
  text-transform: none;
  padding-bottom: 11px;
}

.foto-gallery__like {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 48px;
}

.foto-gallery__rating {
  margin: 0;
  padding: 0;
}

.foto-video {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.foto-video__wrapper {
  width: 320px;
  min-height: 126px;
  text-align: center;
}

.foto-video-header__title {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 35px;
  text-align: center;
}

.foto-video-header__description {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.hero-catalog {
  min-height: 214px;
  background-image: url("../img/catalog/triangle-catalog-hero.svg"), url("../img/catalog/background-catalog-hero.jpg");
  background-color: #996633;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 158px, center 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-catalog__wrapper-image {
  margin: 0 auto;
}

.hero-review {
  min-height: 214px;
  background-image: url("../img/form/triangle-form-hero.svg"), url("../img/form/background-form-hero.jpg");
  background-color: #996633;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 158px, center 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-review__image {
  margin: 0 auto;
}

.hero {
  min-height: 389px;
  background-image: url("../img/index/triangle-hero.svg"), url("../img/index/hero-background-index.jpg");
  background-color: #82B3D2;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 332px, center 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero__wrapper-image {
  margin: 0 auto;
}

.interested {
  padding-top: 38px;
}

.interested__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.interested__titel {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.interested__description {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.interested__button {
  width: 284px;
  height: 58px;
  padding: 16px 35px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 48px;
}

.main-footer {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.main-footer__link {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.main-footer__social {
  margin: 0 auto;
  padding: 0;
}

.main-footer__logo-HTMLAcademy {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 33px;
}

.main-header {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  max-height: 56px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-header__logo {
  display: block;
}

.main-header__logo-image {
  z-index: 1;
  width: 185px;
  margin-left: 67px;
  /* Замерял расстояние нарисовав рамку */
}

.main-nav {
  z-index: 2;
  background-color: #81B3D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.site-first-list__item,
.site-second-list__item {
  width: 320px;
  height: 55px;
  font-family: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal__title {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
}

.modal__description {
  margin: 0 auto;
  padding: 0;
  width: 244px;
  margin-bottom: 30px;
}
.modal__description--error {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.modal__close-button {
  width: 272px;
  height: 58px;
  margin: 20px;
}

.modal__close-button__wrapper {
  background-color: #f2f2f2;
  min-width: 320px;
}

.review-header__title {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: center;
}

.review-header__description {
  margin: 0;
  padding: 0;
  padding-bottom: 53px;
}

.review {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.review__wrapper {
  width: 320px;
  min-height: 126px;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding-bottom: 30px;
}

.title--uppercase-fill {
  min-height: 125px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  resize: none;
  margin-bottom: 56px;
}

.video-gallery {
  width: 320px;
}

.video-gallery__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.video-gallery__title {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 20px;
}

.video-gallery__description {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 38px;
}
/*# sourceMappingURL=style.css.map */