.advantages {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  min-height: 1841px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.advantages-header__title {
  min-width: 284px;
  min-height: 80px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 35px;
}

.advantages-header__description {
  min-width: 284px;
  min-height: 42px;
  text-align: center;
  padding-bottom: 16px;
}

.advantages__wrapper--1 {
  background-image: url("../img/index/triangle-advantages.svg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 0, center 0;
  min-height: 211px;
  background-color: #81B3D2;
  color: #ffffff;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  &--service {
    padding-bottom: 46px;
  }
}

.advantages__item {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &--image {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: #996633;
  }
  &--bridge {
    background-color: #81B3D2;
    color: #ffffff;
    padding: 37px 18px;
  }
  &--grey {
    background-color: #eeeeee;
  }
}

.advantages__list--house {
  background-image: url("../img/index/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__list--food {
  background-image: url("../img/index/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__list--souvenir {
  background-image: url("../img/index/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.advantages__title--house {
  padding-top: 31px;
}

.advantages__title {
  padding-top: 54px;
  &--house,
  &--food,
  &--souvenir {
    padding-top: 31px;
    padding-left: 65px;
    padding-bottom: 16px;
    text-align: start;
  }
  &--grey {
    padding-top: 24px;
  }
}

.advantages__number {
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantages__description {
  padding-bottom: 40px;
  &--house,
  &--food,
  &--souvenir {
    padding-left: 65px;
    padding-bottom: 2px;
    text-align: start;
  }
  &--grey {
    padding-bottom: 24px;
  }
}

.advantages__list--grey {
  background-color: #eeeeee;
}
