.form {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Общие */
.form__form-name,
.form__form-contact,
.form__form-impression,
.form__form-looked,
.form__form-description-of-emotions {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__introduce,
.form__contact,
.form__impression,
.form__looked,
.form__description-of-emotions {
  padding-bottom: 20px;
  text-align: center;
}

.field {
  margin: 0 auto; // Почему не могу убрать margin: 2px; от настроек браузера?
  width: 280px;
  padding: 16px;
  padding-right: 0;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  box-sizing: border-box;
}

.form__impression,
.control-label {
  color: #000000;
}

/* Представьтесь */
.form__form-name {
  margin-bottom: 64px;
}

/* Контактная информация */
.form__form-contact {
  margin-bottom: 59px;
}

.form-phone__wrapper,
.form-email__wrapper {
  display: flex;
  flex-direction: row;
}

.form-phone__wrapper .field,
.form-email__wrapper .field {
  padding-left: 18px;
  flex-grow: 1;
}

.form-phone__img,
.form-email__img {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* Ваше общее впечатлене */
.form__form-impression {
  margin-bottom: 49px;
}

.control-circl {
  position: relative;
  display: block;
  padding: 14px 15px 16px 50px;
}

.control-mark-circl {
  position: absolute;
  top: 9px;
  left: -12px;
  width: 46px;
  height: 46px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 50%;
}

.control-mark-circl:last-child {
  margin-bottom: 0;
}

.control-input[type="radio"]:checked + .control-mark-circl::before {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  content: "";
  background-repeat: no-repeat;
}

.control-input:hover + .control-mark-circl {
  background-color: #e5e5e5;
}

.control-input:active + .control-mark-circl {
  background-color: rgba(213, 213, 213, 1);
}

/* Посещенные достопримечательности */
.form__form-looked {
  margin-bottom: 49px;
}

.control-square {
  position: relative;
  display: block;
  padding: 20px 15px 16px 50px;
}

.control-mark-square {
  position: absolute;
  top: 9px;
  left: -12px;
  width: 46px;
  height: 46px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark-square::before {
  position: absolute;
  top: 17px;
  left: 12px;
  width: 22px;
  height: 16px;
  content: "";
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
}

.control-input:hover + .control-mark-square {
  background-color: #e5e5e5;
}

.control-input:active + .control-mark-square {
  background-color: rgba(213, 213, 213, 1);
}

/* Опишите свои эмоции */
.title--uppercase-fill {
  min-height: 125px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  resize: none;
  margin-bottom: 56px;
}

/* Кнопка */
.form__button-wrapper {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-bottom: 46px;
}

.form__button {
  width: 280px;
  height: 58px;
  padding: 16px 33px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 3px;
}

.form__obligatory-field {
  margin-right: 20px;
  color: rgba(51, 51, 51, 0.6);
}

/* Модальные окна */
.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal__title {
  padding-bottom: 36px;
}

.modal__description {
  margin: 0 auto;
  width: 244px;
  margin-bottom: 30px;
  &--error {
    margin-bottom: 28px;
  }
}


.modal__close-button {
  width: 272px;
  height: 58px;
  margin: 20px;
}

.modal__close-button__wrapper {
  background-color: rgba(242, 242, 242, 1);
  min-width: 320px;
}
