.foto-video {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.foto-video__wrapper {
  width: 320px;
  min-height: 126px;
  text-align: center;
}

.foto-video-header__title {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 35px;
  text-align: center;
}

.foto-video-header__description {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
