.hero-catalog {
  min-height: 214px;
  background-image: url("../img/catalog/triangle-catalog-hero.svg"), url("../img/catalog/background-catalog-hero.jpg");
  background-color: #996633;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center 158px, center 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-catalog__wrapper-image {
  margin: 0 auto;
}


