.interested {
  padding-top: 38px;
}

.interested__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.interested__titel {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.interested__description {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.interested__button {
  width: 284px;
  height: 58px;
  padding: 16px 35px;
  margin-top: 17px;
  margin-left: 18px;
  margin-bottom: 48px;
}
