.review {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.review__wrapper {
  width: 320px;
  min-height: 126px;
  text-align: center;
}
