// Страница Form /* Опишите свои эмоции */
.title--uppercase-fill {
  min-height: 125px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  resize: none;
  margin-bottom: 56px;
}
