html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #333333;
}

/* Закомител до пк версии
.shadow {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
} */

img {
  display: block;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  background-color: #81B3D2;
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    background-color: #e5e5e5;
    color: rgba(255, 255, 255, 1);
    opacity: 0.3;
  }
}
